@page "/Notes/Edit/{NoteFileName}"

<PageTitle>@CurrentNote.Title</PageTitle>

<MudTextField T="string"  @bind-Value="CurrentNote.Title" Label="Title" Required="true" RequiredError="Title is required!"/>
            
<MudTabs>
    <MudTabPanel Text="Meta" >
        <section>
            <MudTextField T="string"  @bind-Value="CurrentNote.Author" Label="Author" Required="true" RequiredError="Title is required!"/>
            <MudTextField T="string"  @bind-Value="CurrentNote.Type" Label="Entry Type" Required="true" RequiredError="Title is required!"/>
            <MudTextField T="string"  @bind-Value="CurrentNote.Url" Label="Url" Required="true" RequiredError="Title is required!"/>
            
            <MudTextField T="string"  @bind-Value="CurrentNote.Summary" Label="Bookmark Type" Required="true" RequiredError="Title is required!" Lines=5/>
        </section>
    </MudTabPanel>
    <MudTabPanel Text="Video Notes" >
        <MudGrid>
            <MudItem xs="6">
                <MudPaper Class="d-flex align-center justify-center mud-width-full py-8">
                    <figure class="image is-16by9" >
                        <iframe 
                            id="bookmark-video"
                            class="has-ratio"
                            src="@(CurrentNote.Video.Link)?enablejsapi=1"
                            title="YouTube video player"
                            frameborder="0" 
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
                            allowfullscreen>
                        </iframe>
                    </figure>
                </MudPaper>
            </MudItem>
            <MudItem xs="6">
                <MudPaper Class="d-flex align-center justify-center mud-width-full py-8">
                    <ul>@foreach (var note in CurrentNote.Notes)
                    {
                        <li>@(note.Time)<br />
                        <blockquote>@((MarkupString)@Markdown.ToHtml(@note.Content))<br/></blockquote>
                        <blockquote>@note.Comment</blockquote>
                        </li>
                    }
                    </ul>
                </MudPaper>
            </MudItem>
        </MudGrid>
    </MudTabPanel>
    <MudTabPanel Text="File Content" >
        <h2>Yaml</h2>
        @currentFileContent
    </MudTabPanel>

</MudTabs>

@code
{
    public Note CurrentNote {get; set;} = new();
    private string CurrentNoteFilePath = string.Empty;
    private string currentFileContent = string.Empty;

    [Parameter]
    public string? NoteFileName { get; set; }

    private string NotesDir = OperatingSystem.IsMacOS()
        ? "/Users/miguelalho/code/miguelalho.github.io/content/bookmarks"
        : "c:/src/miguelalho.github.io/content/bookmarks";
            
    protected override void OnInitialized()
    {
        if(String.IsNullOrWhiteSpace(NoteFileName))
            return;

        var dir = new DirectoryInfo(NotesDir);
        CurrentNoteFilePath = Path.Combine(dir.FullName, NoteFileName);

        currentFileContent = File.ReadAllText(CurrentNoteFilePath);
        
        //process and load yaml to data struct
        var parts = currentFileContent.Split("---", StringSplitOptions.RemoveEmptyEntries);
        var frontMatter = parts[0];
        
        try{
            var deserializer = new DeserializerBuilder()
                .WithNamingConvention(CamelCaseNamingConvention.Instance)  // see height_in_inches in sample yml 
                .IgnoreUnmatchedProperties()
                .IgnoreFields()
                .Build();
            CurrentNote = deserializer.Deserialize<Note>(frontMatter);
        }catch(Exception ex)
        {
            Console.WriteLine(ex);
            Console.WriteLine(ex.InnerException);
        }

        StateHasChanged();
    }


    public class Note
    {
        public string Title {get; set;}= string.Empty;
        public DateTime Date {get;set;} = DateTime.Now;
        public string Author {get; set;}= "Miguel Alho";
        public string Type {get; set;} = "bookmarks";
        public string Url {get;set;} = default!;
        public List<string> Tags {get; set;} = new();
        public string Summary {get; set;} = string.Empty;
        public Author TalkAuthor { get; set; } = new();
        public Video Video { get; set; } = new();

        public List<Entry> Notes {get; set;} = new List<Entry>();

        public string Content {get;set;} = string.Empty;
    }

    public class Entry
    {
        public EntryType Type {get;set;} = EntryType.Quote;
        public string Time {get;set;} = string.Empty;

        public string Image {get;set;} = string.Empty;
        public string Title {get;set;} = string.Empty;
        public string Content {get;set;} = string.Empty;
        public string Comment {get;set;} = string.Empty;
    }

    public enum EntryType
    {
        Quote,
        Slide,
        Note,        
    }

    public class Bookmark
    {
        public string Type { get; set; } = string.Empty;
        public Author Author { get; set; } = new();
        public Video Video { get; set; } = new();
        public Dictionary<string, string> Context { get; set; } = new();
    }

    public class Author
    {
        public string Name {get;set;} = string.Empty;
        public string Twitter {get;set;} = string.Empty;
        public string LinkedIn {get;set;} = string.Empty;
    }

    public class Video
    {
        public string Source {get;set;} = "youtube";
        public string Id {get;set;} = string.Empty;
        public string Link {get;set;} = string.Empty;
        public Context Context {get;set;} = new Context();
    }

    public class Context
    {
        public string Event {get;set;} = "conference";
        public string Name {get;set;} = string.Empty;
        public DateOnly? date {get;set;} = null;
        public string Link {get;set;} = string.Empty;

    }

}